vega-vis {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  position: relative;

  > .vega-messages {
    position: absolute;
    top: 0;
    width: 70%;
    margin: auto;
    opacity: 0.8;
    z-index: 1;
    pointer-events: none;
  }

  .vega-view-container {
    z-index: 0;
    flex: 1 1 100%;

    // TODO: This used to be "flex", but that made controls appear on the right
    display: block;
    max-width: 100%;
    max-height: 100%;

    .vega-bindings {
      //display: flex;
      //flex-direction: row;
      flex: none;
      font-size: 14px;
      line-height: 20px;

      > .vega-bind {
        flex: 1; /*grow*/
      }

      .vega-bind-name {
        display: inline-block;
        width: 105px;
      }
      .vega-bind input[type="range"] {
        padding: 0;
        width: 200px;
        color: rgb(157, 150, 142);
        display: inline-block;
        margin: 3px;
      }
      .vega-bind select {
        max-width: 200px;
      }
      .vega-bind label {
        margin-left: 4px;
      }
      .vega-bind-radio label {
        margin-left: 0;
        margin-right: 4px;
      }
    }
  }
}
